<div class="container">
  <h1 class="title">{{ title }}</h1>
  <p class="message">{{ message$ | async }}</p>
  <table class="list">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Date created</th>
      <th>Date Todo</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of list; let i = index">
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.dateCreated }}</td>
      <td>{{ item.dateTodo }}</td>
      <td>
        <button (click)="removeItem(i)">Remove</button>
        <button (click)="editItem(i)">Edit</button>
      </td>
    </tr>
  </table>

  <button class="add-new-item" (click)="openModal()">Add new</button>
</div>
<div class="modal" *ngIf="modal">
  <app-modal (addNewItem)="addItem($event)" (closeModal)="onCloseModal()" [inputItem]="itemToEdit"></app-modal>
</div>
