@import '~src/styles/global';

:host {
  display: block;
}

.message {
  margin-bottom: 30px;
  border: 1px solid $c-red;
  padding: 5px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 100%;
  max-width: 100px;
}
