@import '~src/styles/global';

:host {
  display: block;
  border-bottom: 1px solid $c-light;
  padding: 15px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 27px;
}

.holder {
  &:not(:last-child) {
    margin-right: 30px;
  }

  &.logo,
  &.auth {
    flex-shrink: 0;
  }

  &.menu {
    margin-right: auto;
  }
}

.item {
  display: inline-block;
  margin: 3px 0;
  font-size: 13px;

  &:not(:last-child) {
    margin-right: 25px;
  }

  &.active {
    border-bottom: 1px solid $c-active;
  }
}

button {
  &.item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $c-black;
  font-size: 14px;
  font-weight: 700;
}
