<div class="container">
  <div class="header">
    <div class="holder logo">
      <a routerLink="" class="item logo">Trainee Projects</a>
    </div>
    <div *ngIf="isAuthenticated" class="holder menu">
      <a routerLink="/guess-picture-name" routerLinkActive="active" class="item">Guess Picture Name</a>
      <a routerLink="/memory-game" routerLinkActive="active" class="item">Memory Game</a>
      <a routerLink="/selects" routerLinkActive="active" class="item">Selects</a>
      <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
      <a routerLink="/todo" routerLinkActive="active" class="item">Todo</a>
      <a routerLink="/auth-ngxs" routerLinkActive="active" class="item">Auth Ngxs</a>
      <a routerLink="/form-creator" routerLinkActive="active" class="item">Form creator</a>
      <a routerLink="/posts" routerLinkActive="active" class="item">Posts</a>
      <a routerLink="/stream-edit" routerLinkActive="active" class="item">Stream edit</a>
      <a routerLink="/table" routerLinkActive="active" class="item">Table</a>
    </div>
    <div class="holder auth">
      <a *ngIf="isAuthenticated" routerLink="/my-account" routerLinkActive="active" class="item">My account</a>
      <button mat-raised-button color="primary" *ngIf="!isAuthenticated" routerLink="/log-in" class="item">
        Log In
      </button>
      <button mat-raised-button color="primary" *ngIf="!isAuthenticated" routerLink="/sign-up" class="item">
        Sign Up
      </button>
      <button mat-raised-button color="primary" *ngIf="isAuthenticated" class="item" (click)="logOut()">Log Out</button>
    </div>
  </div>
</div>
