<div class="container">
  <h1 class="title">Memory Game</h1>
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10">
      <div class="caption">
        <select (change)="changeGridSize($event.target.value)">
          <option value="4">4x4</option>
          <option value="6">6x6</option>
          <option value="8">8x8</option>
        </select>
        <p><span class="text">Timer:</span> {{ stopwatch }}</p>
        <p><span class="text">Score:</span> {{ score }}</p>
      </div>
      <div class="list size-{{ gridSize }}">
        <div *ngFor="let item of gridLengthArr; let i = index" class="item-wrap">
          <div
            class="item"
            (click)="showItem(i)"
            [ngClass]="{ open: gridImages[i].show, opened: gridImages[i].opened }"
          >
            <div class="img" [style.background-image]="gridImages[i].url"></div>
          </div>
        </div>
        <div class="popup" *ngIf="gridCompleted">
          <h3 class="popup-title">Well done!</h3>
          <p class="popup-time">Your time: {{ stopwatch }}</p>
          <p class="popup-score">Your score: {{ score }}</p>
          <button (click)="restartGrid()">Restart</button>
        </div>
      </div>
    </div>
  </div>
</div>
