<div class="container">
  <h2>Buttons</h2>
  <button pButton type="button" label="Primary"></button>
  <button pButton type="button" label="Secondary" class="ui-button-secondary"></button>
  <button pButton type="button" label="Success" class="ui-button-success"></button>
</div>

<div class="container">
  <h2>Inputs with masks</h2>
  <p>Field for entering a phone number in the format of Ukraine</p>
  <input name="number" type="text" prefix="+38 (0" mask="00) 000 00 00" [showMaskTyped]="true" />
  <p>Field for entering the date of birth</p>
  <input name="date" mask="d0/M0/0000" [showMaskTyped]="true" />
  <p>Valid 24 hour format (hh/mm/ss)</p>
  <input mask="Hh:m0:s0" name="time" [showMaskTyped]="true" />
  <p>Mixed types</p>
  <input mask="AAA 000-S0S" name="mixed" [showMaskTyped]="true" />
</div>

<div class="container">
  <h2>Dynamic forms</h2>

  <form [formGroup]="skillsForm">
    <div formArrayName="skills">
      <div class="skill" *ngFor="let skillControl of controls; let i = index">
        <h4 class="skill-title">Skill</h4>
        <div [formGroupName]="i">
          <div class="group">
            <input type="text" formControlName="name" placeholder="Skill" />
          </div>
          <div class="group">
            <input type="text" formControlName="experience" placeholder="Experience" />
          </div>
          <div class="group">
            <div class="radio" *ngFor="let level of proficiencyLevels">
              <label> <input type="radio" [value]="level" formControlName="proficiency" /> {{ level }} </label>
            </div>
          </div>
        </div>
        <button class="skill-remove" type="button" (click)="removeSkill(i)">&#10006;</button>
      </div>
    </div>

    <div class="button">
      <button type="button" (click)="addSkill()">Add skill</button>
    </div>

    <div class="button">
      <button type="submit" [disabled]="!skillsForm.valid">
        Submit
      </button>
    </div>
  </form>

  <div *ngIf="skillsValue">
    <h4>Value is:</h4>
    <p class="value">{{ skillsForm.value | json }}</p>
  </div>
</div>
