<div class="container">
  <div class="row" *ngFor="let select of selectsDisplayed; let i = index">
    <div class="col-lg-6">
      <select
        #selectEl
        (change)="selectChange($event.target.value, i, $event.srcElement.selectedIndex)"
        [value]="selectsValues[i]"
      >
        <option
          *ngFor="let selectEl of selects; let iEl = index"
          value="{{ selectEl.varName }}"
          [ngClass]="{ hide: selectEl.rotatingQuestionsTag !== selectsTagActive && i !== 0 }"
          [disabled]="selectsValues.indexOf(selectEl.varName) >= 0 && selectsValues.indexOf(selectEl.varName) !== i"
        >
          {{ selectEl.title }}</option
        >
      </select>
      <button mat-raised-button color="primary" *ngIf="buttonRemove" (click)="removeSelect(i)">Remove</button>
    </div>
    <div class="col-lg-6">
      <select *ngIf="selectsValues[i]">
        <option *ngFor="let answer of select.answerOptions" value="{{ answer }}">{{ answer }} </option>
      </select>
    </div>
  </div>
  <button mat-raised-button color="primary" *ngIf="buttonAdd" (click)="addSelect()">Show more</button>
</div>
