<h3>Forms list</h3>
<hr />
<div class="forms-list">
  <div class="item" *ngFor="let form of formList" [ngClass]="{ active: form.formId === currentId }">
    <h4 class="item-title">{{ form.formName }}</h4>
    <button mat-raised-button color="primary" class="item-button" (click)="selectFormItem(form)">Select</button>
    <button mat-raised-button color="primary" class="item-button" (click)="removeFormItem(form.formId)">Remove</button>
  </div>
</div>
<div class="forms-list-buttons">
  <button mat-raised-button color="primary" class="forms-list-button" (click)="addDummyForm()">Add dummy form</button>
  <!-- <button mat-raised-button color="primary" class="forms-list-button"(click)="clearFormsList()">Clear forms list</button> -->
</div>
