<h3>Forms list</h3>
<hr />
<div class="forms-list">
  <div class="item" *ngFor="let item of list" [ngClass]="{ active: item.formName === currentName }">
    <h4 class="item-title">{{ item.formName }}</h4>
    <button class="item-button" (click)="selectFormItem(item.formName)">Select</button>
    <button class="item-button" (click)="removeFormItem(item.formName)">Remove</button>
  </div>
</div>
<div class="forms-list-buttons">
  <button class="forms-list-button" (click)="addDummyForm()">Add dummy form</button>
  <!-- <button class="forms-list-button"(click)="clearFormsList()">Clear forms list</button> -->
</div>
