@import '~src/styles/global';

:host {
  display: block;
}

h3 {
  margin: 15px 0;
}

.forms-list {
  &-buttons {
    margin-top: 15px;
  }

  &-button {
    margin: 0 5px 5px 0;
  }
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid $c-light;
  border-radius: 5px;
  padding: 5px 5px 5px 15px;

  &.active {
    border-color: $c-active;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &-title {
    flex-grow: 1;
    margin: 0 15px 0 0;
  }

  &-button {
    margin-left: 5px;
  }
}
