<div class="container">
  <div class="header">
    <div class="holder">
      <a routerLink="" class="item logo">Trainee Projects</a>
    </div>
    <div *ngIf="authenticated" class="holder menu">
      <a routerLink="/guess-picture-name" routerLinkActive="active" class="item">Guess Picture Name</a>
      <a routerLink="/memory-game" routerLinkActive="active" class="item">Memory Game</a>
      <a routerLink="/selects" routerLinkActive="active" class="item">Selects</a>
      <a routerLink="/forms-layout" routerLinkActive="active" class="item">Forms layout</a>
      <a routerLink="/todo" routerLinkActive="active" class="item">Todo</a>
    </div>
    <div class="holder">
      <button *ngIf="!authenticated" routerLink="/log-in" routerLinkActive="active" class="item">Log In</button>
      <a *ngIf="authenticated" routerLink="/my-account" routerLinkActive="active" class="item">My account</a>
      <button *ngIf="authenticated" class="item" (click)="onLogOut()">Log Out</button>
    </div>
  </div>
</div>
