@import '~src/styles/global';

:host {
  display: block;
  padding: 60px 0;
}

h1 {
  margin-bottom: 30px;
}

.post {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.mat-card {
  height: 100%;
}
