<div class="container list">
  <h1>Posts list</h1>
  <div class="row" *ngIf="postsList">
    <div class="col-md-6 col-lg-4 post" *ngFor="let post of postsList">
      <mat-card>
        <mat-card-title>{{ post.id }}. {{ post.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ post.body }}</p>
        </mat-card-content>
        <mat-card-subtitle>Author ID - {{ post.userId }}</mat-card-subtitle>
        <button [routerLink]="'/posts/' + post.id" mat-raised-button color="primary">Read more</button>
      </mat-card>
    </div>
  </div>
</div>
