// FONTS
$f-primary: 'Ubuntu', sans-serif;

// COLORS
$c-black: #000;
$c-white: #fff;
$c-red: #f00;

$c-dark: #222;
$c-light: #ddd;
$c-lighten: #eee;
$c-active: #3f51b5;
$c-grey: #999;

$c-error: #f44;
