<h3 *ngIf="item.formName">{{ item.formName }}</h3>
<hr />
<ng-container *ngIf="form">
  <form [formGroup]="form">
    <div *ngFor="let control of formControls; let i = index">
      <app-form-control [form]="form" [element]="item.elements[i]"></app-form-control>
    </div>
    <button class="submit" type="submit" [disabled]="!form.valid" (click)="submit()">Submit</button>
  </form>

  <p *ngIf="!form">Form wasn't loaded.</p>

  <!-- <p>Form values are:</p>
  <pre>{{ form.value | json }}</pre> -->
</ng-container>

<!-- <p>Form structure is:</p>
<pre>{{ item | json }}</pre> -->
