<div class="container">
  <div *ngIf="post" class="post">
    <h1>{{ post.title }}</h1>
    <h5>Author ID - {{ post.userId }}</h5>
    <p>{{ post.body }}</p>
  </div>

  <div *ngIf="comments" class="comments">
    <h3>Comments</h3>
    <div *ngFor="let comment of comments" class="comment">
      <h4>{{ comment.name }}</h4>
      <p>{{ comment.body }}</p>
      <h5>By - {{ comment.email }}</h5>
    </div>
  </div>

  <button (click)="goBack()" mat-raised-button color="primary">Go back</button>
</div>
