:host {
  display: block;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.list {
  padding: 20px 0 60px;
}
