@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~src/assets/scss/global';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $f-primary;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  width: 100%;
  max-width: 200px;
}

a {
  text-decoration: none;
}
