<form #todoForm="ngForm" (ngSubmit)="onSubmit()">
  <label>
    <span class="text">Name: *</span>
    <input type="text" name="name" ngModel [ngModel]="name" #nameEl="ngModel" required />
    <span class="note" *ngIf="!nameEl.valid && nameEl.touched">Please write a name</span>
  </label>
  <label>
    <span class="text">Type:</span>
    <input type="text" name="type" [ngModel]="type" />
  </label>
  <label>
    <span class="text">Date created/edited:</span>
    <input type="text" name="dateCreated" [ngModel]="todayDate" mask="00/00/0000" readonly />
  </label>
  <label>
    <span class="text">Date Todo:</span>
    <input type="text" name="dateTodo" [ngModel]="dateTodo" mask="d0/M0/0000" [showMaskTyped]="true" />
  </label>
  <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!todoForm.valid">Submit</button>
</form>
